@using MVC.Models.AreaModels
@using MVC.Models.OrganModels
@using MVC.Models.StatusModels
@using MVC.Models.UserModels
@model CreateUserDto
@{
	Layout = "_AdminLayout";
	ViewData["Title"] = "Create User";
}

@if (ViewBag.Message != null)
{
	<div class="alert alert-danger alert-bdleft-danger w-25 mx-auto">
		<button type="button" class="btn-close float-end fs-10" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<strong>@ViewBag.Message</strong>
	</div>
}

<div class="main-content side-content pt-0" data-select2-id="12">
	<div class="main-container container-fluid">
		<div class="inner-body">
			<!-- Page Header -->
			<div class="page-header">
				<div>
					<h2 class="main-content-title tx-24 mg-b-5">Добавить пользователя</h2>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Dashboard</a></li>
						<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Users">Users</a></li>
						<li class="breadcrumb-item active" aria-current="page">Add user</li>
					</ol>
				</div>
				<div class="d-flex">
					<div class="justify-content-center">
						<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
							<i class="fe fe-settings"></i>
							<span>Settings</span>
						</button>
					</div>
				</div>
			</div>
			<!-- End Page Header -->
			<!-- Row -->
			<div class="row row-sm">
				<div class="col-lg-12 col-md-12 col-md-12">
					<div class="card custom-card">
						<form asp-action="CreateUser" method="post" class="card-body">
							<div class="form-group">
								<label for="userName" class="tx-medium">User name</label>
								<input asp-for="UserName" type="text" id="userName" class="form-control" placeholder="Введите имя ползователья">
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="Ips" class="tx-medium">Ips</label>
								<input asp-for="Ips" type="text" id="Ips" class="form-control" placeholder="Введите ips">
								<span asp-validation-for="Ips" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="inn" class="tx-medium">Inn</label>
								<input asp-for="Inn" type="text" id="inn" class="form-control" placeholder="Введите инн">
								<span asp-validation-for="Inn" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="firstName" class="tx-medium">First Name</label>
								<input asp-for="FirstName" type="text" id="firstName" class="form-control" placeholder="Введите имя">
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="lastName" class="tx-medium">Last Name</label>
								<input asp-for="LastName" type="text" id="lastName" class="form-control" placeholder="Введите фамилия">
								<span asp-validation-for="LastName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="middleName" class="tx-medium">Middle Name</label>
								<input asp-for="MiddleName" type="text" id="middleName" class="form-control" placeholder="Введите отчество">
								<span asp-validation-for="MiddleName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="adrText" class="tx-medium">Adress Text</label>
								<input asp-for="AdrText" type="text" id="adrText" class="form-control" placeholder="Введите адрес">
								<span asp-validation-for="AdrText" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="adrEmail" class="tx-medium">Adress Email</label>
								<input asp-for="AdrEmail" type="email" id="adrEmail" class="form-control" placeholder="Введите email адрес">
								<span asp-validation-for="AdrEmail" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="adrWebSite" class="tx-medium">Adress WebSite</label>
								<input asp-for="AdrWebSite" type="text" id="adrWebSite" class="form-control" placeholder="Введите веб-сайт адрес">
								<span asp-validation-for="AdrWebSite" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="phoneNumber" class="tx-medium">Phone number</label>
								<input asp-for="PhoneNumber" type="text" id="AdrWebSite" class="form-control" placeholder="Введите номер телефона">
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label class="tx-medium">Organs</label>
								<select asp-for="OrganId" class="form-control select2-no-search">
									@if (ViewData["Organs"]!.GetType() == typeof(string))
									{
										<option label="@ViewData["Organs"]!.ToString()" selected disabled></option>
									}
									else
									{
										<option label="Вибирайте организация" selected disabled></option>
										@foreach (GetOrganDto organ in (List<GetOrganDto>)ViewData["Organs"]!)
										{
											<option value="@organ.OrganId">@organ.OrganName</option>
										}
									}
								</select>
								<span asp-validation-for="OrganId" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label class="tx-medium">Status</label>
								<select asp-for="ProfessionId" class="form-control select2-no-search">
									@if (ViewData["Professions"]!.GetType() == typeof(string))
									{
										<option label="@ViewData["Professions"]!.ToString()" selected disabled></option>
									}
									else
									{
										<option label="Вибирайте статус ползователь" selected disabled></option>
										@foreach (GetProfessionDto status in (List<GetProfessionDto>)ViewData["Professions"]!)
										{
											<option value="@status.ProfessionId">@status.ProfessionName</option>
										}
									}
								</select>
								<span asp-validation-for="ProfessionId" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label class="tx-medium">Areas</label>
								<select asp-for="AreaId" class="form-control select2-no-search">
									@if (ViewData["Areas"]!.GetType() == typeof(string))
									{
										<option label="@ViewData["Areas"]!.ToString()" selected disabled></option>
									}
									else
									{
										<option label="Вибирайте область ползователь" selected disabled></option>
										@foreach (GetAreaDto area in (List<GetAreaDto>)ViewData["Areas"]!)
										{
											<option value="@area.AreaId">@area.AreaName</option>
										}
									}
								</select>
								<span asp-validation-for="AreaId" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label for="password" class="tx-medium">Password</label>
								<input asp-for="Password" type="password" id="password" class="form-control" placeholder="**********">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label for="confPassword" class="tx-medium">Confirm Password</label>
								<input asp-for="ComfirmPassword" type="password" id="confPassword" class="form-control" placeholder="**********">
								<span asp-validation-for="ComfirmPassword" class="text-danger"></span>
							</div>
							<div class="card-footer mb-1">
								<button type="submit" class="btn btn-primary">Добавить</button>
								<a asp-action="Index" class="btn btn-danger">Отмена</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- End Row -->
		</div>
	</div>
</div>